In [27]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master('local').appName('udf').getOrCreate()

In [30]:
def age_category(age):
    if age < 35:
        return 'young'
    elif age >= 35 and age <= 59:
        return 'adult'
    else:
        return 'senior'

In [31]:
spark.udf.register("age_category_udf", age_category)

In [33]:
age_category = [
    ('이재형', 24), 
    ('손흥민', 30), 
    ('조현우', 31), 
    ('박용택', 44), 
    ('이병규', 48), 
    ('이상훈', 52), 
    ('선동열', 60), 
    ('김성근', 81), 
    ('김응용', 83)
]

In [34]:
df = spark.createDataFrame(age_category, ['name', 'age'])

In [35]:
df.createOrReplaceTempView("people")

In [36]:
result = spark.sql("SELECT name, age_category_udf(age) AS age_category FROM people")

In [37]:
result.show()

+------+------------+
|  name|age_category|
+------+------------+
|이재형|       young|
|손흥민|       young|
|조현우|       young|
|박용택|       adult|
|이병규|       adult|
|이상훈|       adult|
|선동열|      senior|
|김성근|      senior|
|김응용|      senior|
+------+------------+

In [38]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)